<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.personal.basket.dao.ConfiguracionMapper" >
    
    <resultMap id="result" type="com.personal.basket.model.ConfiguracionDTO">
        <result property="parametro" column="parametro"/>
        <result property="valor" column="valor"/>
    </resultMap>

    <select id="getAll" parameterType="int" resultMap="result">
        SELECT parametro, valor FROM configuracion;
    </select>

<!-- http://www.javacodegeeks.com/2012/02/mybatis-3-spring-integration-tutorial.html -->
</mapper>

