<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.personal.basket.dao.DetEconomiaMapper" >

	<select id="getSecuenciaDetEconomiaHSQL"  resultType="String">
        call NEXT VALUE FOR SEQ_DETECONOMIA;
    </select>



    <insert id="setDetEconomia" parameterType="com.personal.basket.model.DetEconomiaModelDTO">
    
        insert into DETECONOMIA (CODDETECONOMIA, FECHA, DETALLE, CODOPERA, CODECONO) 
        			values (#{codDetEconomia},sysdate,#{detalle},#{codigoOpera},#{codigoEcono});

    </insert>

</mapper>

