<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.personal.basket.dao.MenuMapper" >
    
<!--     http://java.dzone.com/articles/ibatis-mybatis-handling-joins -->
    
    <resultMap id="result" type="com.personal.basket.model.MenuModelDTO">
        <result property="codigo" 			column="CODMENU"/>
        <result property="descripcion" 		column="DESCRIPCION"/>
        <result property="codigoTipoMenu" 	column="CODTIPOMENU"/>
    </resultMap>
    
    
	<select id="getMenus" parameterType="String" resultMap="result">
        SELECT  CODMENU,
        		DESCRIPCION
				from MENU 
				WHERE CODTIPOMENU = #{idTipoMenu}
    </select>

	
<!-- 	http://mybatis.co.uk/index.php/category/mybatis-relationship-mapping -->
<!-- http://www.javacodegeeks.com/2012/02/mybatis-3-spring-integration-tutorial.html -->
</mapper>

